# Environment variables
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.venv-kokoro/
env/
python\ 3.12/

# DB
backend/*.sqlite3
backend/memories*.yaml

ComfyUI/
generated_images/
comfyui_settings.json

# IDEs
.vscode/
.idea/
.claude/

IDEAS.md

# Node / npm
frontend/node_modules/
frontend-dist/
frontend/src/components/CodeWorkspace/CodeWorkspace.css.map
*.map